*~
.DS_Store
Library
Build
Temp
obj
Assembly-CSharp-Editor.csproj.FilesWrittenAbsolute.txt
Assembly-CSharp.userprefs
Assembly-CSharp.dll
*.unityproj
*.csproj
*.sln
*.userprefs
*.rar
*.aab
*.mp4
.vs/
Builds/
builds/
Library/
Logs/
UserSettings/Layouts/default-2021.dwlt
Recordings/
pcBuild/
ProjectSettings/
Assets/Import/Feel/FeelDemosHDRP
Assets/Import/Feel/FeelDemosURP